.track {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin:  20px;
  border: 5px solid #ccc;
  border-radius: 20px;
  background-color: #6a2692;
  box-shadow: 0 0 5px #ccc;
  background-color: #e5e5f7;
  
}

.waveform-container {
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  border: 5px solid #383838;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 7px;
  
}

#waveform {
  width: 85%;
  height: 100%;
  cursor: move;
  /*create a border */
  /* border: 3px solid #805796;
  background-color: #262626;
  border-radius: 10px; */

}

.track-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  min-width: 80px;
  max-width: 7%;
  
  /* padding-left: 28px; */
}

.track-control-buttons {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.track-control-buttons button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #6e6e6e;
  background-color: #ccc;
  color: #000;
}

/* handling pushed and unpushed classes dynamically assigned based on state*/

.track-control-buttons button.pushed {
  /* make it looked pushed in, dimmer */
  border: 3px solid #5d5d5d;
  background-color: #b1b1b1;
  box-shadow: 0 0 5px #39ff02; 
}

.volume-slider {
  appearance: slider-vertical;
  height: 80%;
  width: 5%; 
}